<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container" ng-init="getAllInvInterest()">
    <div class="row">
        <div ng-repeat="interest in interests">
            <div class="container col-md-4 col-xs-12">
                <div class="serviceBox">
                    <div class="service-icon">
                        <span><em class="fa fa-user-o" aria-hidden="true"></em></span>
                    </div>
                    <div class="service-content">
                        <h3 class="title">{{interest.investor.name}}</h3>
                        <h2>{{interest.category.name}}</h2>
                        <p class="description">{{interest.description | limitTo: "250"}}</p>
                        <p> Investment: {{interest.amountInvestment | currency: "$"}}</p>
                        <button type="button" class="btn btn-info text-uppercase"
                                ng-click="relocateContact(interest)" title="Read More">Read More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>