@import url('https://fonts.googleapis.com/css?family=Anton');
.initials-logo {
  width: 320px;
  height: 320px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Anton, sans-serif;
  font-size: 100px;
  color: #FFFAF8;
  background-color: #e84c3d;
}
.initials-logo-navbar{
  width: 33px;
  height: 33px;
  padding: 0;
  margin: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Anton, sans-serif;
  font-size: 15px;
  color: #FFFAF8;
  background-color: #e84c3d;
}
.initials-logo-navbar-middle{
  width: 120px;
  height: 120px;
  padding: 0;
  margin: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Anton, sans-serif;
  font-size: 40px;
  color: #FFFAF8;
  background-color: #e84c3d;
}

