<div ng-controller="PasswordResetController">
    <div class="modal-header">
        <h4 class="modal-title">Reset password
            <button class="close" type="button" ng-click="close()">
                <span class="fa fa-close"></span>
            </button>
        </h4>
    </div>
    <div class="modal-body" id="modal-body">
        <form role="form" ng-submit="sendLink()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="email" id="email" name="email"
                       ng-model="user.email" required/>
                <input type="hidden" class="form-control" id="password" name="password" value="default"
                       ng-model="user.password"/>
                <input type="hidden" class="form-control" id="confirmPassword" name="conformPassword" value="default"
                       ng-model="user.confirmPassword"/>
                <button type="submit" class="btn btn-success">Send reset link</button>
                </div>
            </div>
        </form>
    </div>
</div>