<div ng-controller="PasswordResetController">
    <div class="modal-header">
        <h4 class="modal-title">Reset password
            <button class="close" type="button" ng-click="close()">
                <span class="fa fa-close"></span>
            </button>
        </h4>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="forgotPassForm" role="form" ng-submit="submit()">
            <div class="small">
                <p style="line-height: normal">Please provide email address that you used when you signed up for your
                    GreatStart account.</p>
                <p style="line-height: normal">We will send you an email that will allow you to reset your password.</p>
                <div class="alert alert-success centered" ng-show="message">
                    {{message}}
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="email" id="email" name="email"
                       ng-model="email" required/>
            </div>
            <div class="small">
                <div class="alert alert-danger centered" ng-show="error">
                    {{error}}
                </div>
            </div>
            <input type="submit" class="btn btn-success btn-block" ng-show="!submitted" value="Send reset link"/>
        </form>
    </div>
</div>
