<div ng-controller="PasswordResetController">
    <div class="modal-header">
        <h4 class="modal-title">Reset password
            <button class="close" type="button" ng-click="close()">
                <span class="fa fa-close"></span>
            </button>
        </h4>
    </div>
    <div class="modal-body" id="modal-body">
        <form role="form" ng-submit="sendLink()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" placeholder="login" id="email" name="email"
                       ng-model="credentials.email">
            </div>
            <div class="alert alert-danger" ng-show="error">
                Email not found!
            </div>
            <button type="submit" class="btn btn-success">Send reset link</button>
        </form>
    </div>
</div>