<div class="header-wrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="title">GreatStart is awesome!</h1>
                <h2 class="under-title">Join us</h2>
            </div>
        </div>
    </div>
</div>
<div class="container column-wrap">
    <div class="row centered">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="fa fa-lightbulb-o fa-3x"></span>
            <h4>Ideas</h4>
            <div>The idea is one of the most valuable products in the modern world. Add the idea to our database and
                whole world will know about you, invest in one of our ideas and get the opportunity conquer the whole
                world.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="glyphicon glyphicon glyphicon-grain gi-3x"></span>
            <h4>Help</h4>
            <div>If you have any questions or difficulties using our site, there are errors, not enough information,
                etc., contact us by phone or mail. Our specialists are ready to answer all your questions 24 hours a
                day, 7 days a week.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="fa fa-users fa-3x"></span>
            <h4>Projects</h4>
            <div>Projects that have been added to our database or moderated there are placed in the Projects catalog,
                and sent to the Investors who have formulated their Investment Interests. Choose the best one for you
                and let the dream come true.
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#!/projects"><h3>Projects</h3></a></li>
            </ul>
        </div>
    </div>
    <div class="row" ng-controller="ProjectController">
        <div ng-repeat="project in projects | limitTo: 6">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="container col-md-4 col-xs-12">
                <div class="item">
                    <div class="thumbnail">
                        <div class="caption centered">
                            <a href="#!/project/{{project.id}}"><h3>{{project.desc.name}}</h3></a>
                        </div>
                        <a href="#!/project/{{project.id}}" ng-if="project.desc.image"><img
                                ng-src="data:image/png;base64,{{project.desc.image}}" alt="" class="img-responsive"></a>
                        <div class="caption">
                            <p>{{project.desc.description}}</p>
                            <hr>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div>min</div>
                                    <div><em class="fa fa-dollar"></em>{{project.desc.minInvestment}}</div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="right-box">Total needed</div>
                                    <div class="right-box"><em class="fa fa-dollar"></em>{{project.desc.cost}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-include="'views/main/Footer.html'"></div>