<div class="header-wrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="title">GreatStart is awesome!</h1>
                <h2 class="under-title">Join us</h2>
            </div>
        </div>
    </div>
</div>
<div class="container column-wrap">
    <div class="row centered">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="fa fa-lightbulb-o fa-3x"></span>
            <h4>Ideas</h4>
            <div>The idea is one of the most valuable products in the modern world. Add the idea to our database and
                whole world will know about you, invest in one of our ideas and get the opportunity conquer the whole
                world.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="glyphicon glyphicon glyphicon-grain gi-3x"></span>
            <h4>Help</h4>
            <div>If you have any questions or difficulties using our site, there are errors, not enough information,
                etc., contact us by phone or mail. Our specialists are ready to answer all your questions 24 hours a
                day, 7 days a week.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <span class="fa fa-users fa-3x"></span>
            <h4>Projects</h4>
            <div>Projects that have been added to our database or moderated there are placed in the Projects catalog,
                and sent to the Investors who have formulated their Investment Interests. Choose the best one for you
                and let the dream come true.
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#"><h3>Projects</h3></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="container col-md-4 col-xs-12">
            <div class="item">
                <div class="thumbnail">
                    <div class="caption centered">
                        <a href="#!/project"><h3>Project name</h3></a>
                    </div>
                    <a href="#!/project"><img ng-src="http://placehold.it/600x340" alt="" class="img-responsive"></a>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6">
                                <div>min</div>
                                <div><span class="fa fa-dollar"></span>100000</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="right-box">Still needed</div>
                                <div class="right-box"><span class="fa fa-dollar"></span>9999</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container col-md-4 col-xs-12">
            <div class="item">
                <div class="thumbnail">
                    <div class="caption centered">
                        <a href="#!/project"><h3>Project name</h3></a>
                    </div>
                    <a href="#!/project"><img ng-src="http://placehold.it/600x340" alt="" class="img-responsive"></a>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6">
                                <div>min</div>
                                <div><span class="fa fa-dollar"></span>100000</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="right-box">Still needed</div>
                                <div class="right-box"><span class="fa fa-dollar"></span>9999</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-md-4 col-xs-12">
            <div class="item">
                <div class="thumbnail">
                    <div class="caption centered">
                        <a href="#!/project"><h3>Project name</h3></a>
                    </div>
                    <a href="#!/project"><img ng-src="http://placehold.it/600x340" alt="" class="img-responsive"></a>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6">
                                <div>min</div>
                                <div><span class="fa fa-dollar"></span>100000</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="right-box">Still needed</div>
                                <div class="right-box"><span class="fa fa-dollar"></span>9999</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-md-4 col-xs-12">
            <div class="item">
                <div class="thumbnail">
                    <div class="caption centered">
                        <a href="#!/project"><h3>Project name</h3></a>
                    </div>
                    <a href="#!/project"><img ng-src="http://placehold.it/600x340" alt="" class="img-responsive"></a>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6">
                                <div>min</div>
                                <div><span class="fa fa-dollar"></span>100000</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="right-box">Still needed</div>
                                <div class="right-box"><span class="fa fa-dollar"></span>9999</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#"><h3>Events</h3></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="container col-md-4 col-xs-12">
            <div class="item">
                <div class="thumbnail">
                    <div class="caption centered">
                        <a href="#!/event"><h3>Event name</h3></a>
                    </div>
                    <a href="#!/event"><img ng-src="http://placehold.it/600x340" alt="" class="img-responsive"></a>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                        <span><a class="btn btn-success btn-block btn-md" href="#">I will go on</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-md-4 col-xs-12">
            <div class="item">
                <div class="thumbnail">
                    <div class="caption centered">
                        <a href="#!/event"><h3>Event name</h3></a>
                    </div>
                    <a href="#!/event"><img ng-src="http://placehold.it/600x340" alt="" class="img-responsive"></a>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                        <span><a class="btn btn-success btn-block btn-md" href="#">I will go on</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-md-4 col-xs-12">
            <div class="item">
                <div class="thumbnail">
                    <div class="caption centered">
                        <a href="#!/event"><h3>Event name</h3></a>
                    </div>
                    <a href="#!/event"><img ng-src="http://placehold.it/600x340" alt="" class="img-responsive"></a>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                        <span><a class="btn btn-success btn-block btn-md" href="#">I will go on</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/main/Footer.html'"></div>