<div class="container">
    <div class="row">
        <div ng-repeat="project in projects">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="container col-md-4 col-xs-12">
                <div class="item">
                    <div class="thumbnail">
                        <div class="caption centered">
                            <a href="#!/project/{{project.id}}"><h3>{{project.desc.name}}</h3></a>
                        </div>
                        <a href="#"><img src="http://placehold.it/600x340" alt="" class="img-responsive"></a>
                        <div class="caption">
                            <p>{{project.desc.description}}</p>
                            <hr>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div>min</div>
                                    <div><em class="fa fa-dollar"></em>{{project.desc.minInvestment}}</div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="right-box">Total needed</div>
                                    <div class="right-box"><em class="fa fa-dollar"></em>{{project.desc.cost}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/main/Footer.html'"></div>