.bs-calltoaction {
    position: relative;
    max-width: 1140px;
    width: auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bs-calltoaction > .row {
    display: table;
    width: calc(100% + 30px);
}

.cta-contents {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cta-contents h1 {
    color: #108d19;
}

.cta-contents h1:hover, h1:focus {
    color: #003a0f;
    text-decoration: none;
    outline: 0;
}

.cta-title {
    margin: 0 auto 15px;
    padding: 0;
}

.cta-desc {
    padding: 0;
}

.cta-desc p:last-child {
    margin-bottom: 0;
}

.cta-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bs-calltoaction.bs-calltoaction-success {
    color: #000000;
    background-color: #f5f5f5;
    border-color: #ededed;
}

.form-field {
    border-left: 1px solid rgb(223, 223, 223) !important;
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.bs-calltoaction.bs-calltoaction-success .cta-button .btn {
    border-color: #adadad;
}

input, select {
    width: 212px;
}